html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  pborder-spacing: 0;
}
/* --------------------- */
body {
  padding: 30px;
}
#tab-content > div {
  margin-top: 30px;
  display: none;
}

#tab-content > div:target {
  display: block;
}

/* checked */
label {
  border: 1px solid black;
  padding: 3px 10px;
}

#tab-contents > div {
  margin-top: 10px;
  display: none;
}

#tab-contents > input {
  display: none;
}

#tab-contents > input:checked + div {
  display: block;
}

/* checkbox */

input {
  display: none;
}

label {
  border: 1px solid black;
}

input:checked + label {
  border: 5px solid red;
}

/* tooltip */
p {
  margin-top: 100px;
}
.tooltip {
  position: relative;
  color: red;
}
.tooltip span {
  display: none;
  color: white;
  position: absolute;
  text-align: center;
  min-width: 100px;
  max-width: 200px;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  background-color: black;
  -webkit-transform: translateX(-50%) translateY(-10px);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.tooltip:hover {
  cursor: pointer;
}

.tooltip:hover span {
  display: block;
}
